*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: darkcyan;
    text-align: center;
    padding-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.intro{
    margin: 30px 0px;
    font-weight: bold;
}
h1{
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}

#enter{
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #04A1BF;
    background-color: black;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    font-weight: normal;
}
#enter:hover{
    background-color: #FFCD5D;
    color: black;
}
ul{
    text-align: left;
    margin-top: 20px;
}
li{
    padding: 10px 20px;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #FFCD5D;
    transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
}
li:hover{
    background: wheat;
}
li > button {
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    color: #025f70;
    font-weight: 800;
}
input{
    border-radius: 5px;
    min-width: 65%;
    padding: 5px;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
}
.done{
    background: #51DF70 !important;
    color: #00891E;
}
.delete{
    display: none;
}